<ul>
<li><a href="/doc">Home</a></li>
<li><a href="/doc/setup/">Getting Started</a>
  <ul>
    <li><a href="/doc/setup/">Setting up MMT</a></li>
    <li><a href="/doc/setup/jedit.html">Setting up jEdit</a></li>
    <li><a href="/doc/setup/build/">Building and Developing MMT</a>
      <ul>
        <li><a href="/doc/setup/build/repo.html">The MMT Repository</a></li>
        <li><a href="/doc/setup/build/sbt.html">sbt</a></li>
      </ul>
    </li>
    <li><a href="/doc/setup/running.html">Running MMT</a></li>
  </ul>
</li>
<li><a href="/doc/system/">Documentation</a>
  <ul>
    <li><a href="/doc/system/philosophy/independence.html">Philosophy</a></li>
    <li><a href="/doc/system/applications/">Features and Applications</a>
      <ul>
        <li><a href="/doc/system/applications/jedit.html">jEdit IDE</a></li>
        <li><a href="/doc/system/applications/shell.html">The MMT Shell</a></li>
        <li><a href="/doc/system/applications/server.html">The MMT Server</a></li>
        <li><a href="/doc/system/applications/building.html">Building Documents</a></li>
        <li><a href="/doc/system/applications/archives.html">MMT Archives</a></li>
        <li><a href="/doc/system/applications/oaf.html">OAF</a></li>
      </ul>
    </li>
    <li><a href="/doc/system/language/">The MMT Language</a>
      <ul>
        <li><a href="/doc/system/language/">Overview</a></li>
        <li><a href="/doc/system/language/delimiters.html">Structural Delimiters</a></li>
        <li><a href="/doc/system/language/namespaces.html">Documents and Namespaces</a></li>
        <li><a href="/doc/system/language/modules.html">Modules</a></li>
        <li><a href="/doc/system/language/declarations.html">Symbol Declarations</a></li>
        <li><a href="/doc/system/language/objects.html">Terms</a></li>
        <li><a href="/doc/system/language/literals.html">Generic Literals</a></li>
        <li><a href="/doc/system/language/overloading.html">Overloading</a></li>
      </ul>
    </li>
    <li><a href="/doc/system/api/">The MMT API</a>
      <ul>
        <li><a href="/doc/system/api/">Overview</a></li>
        <li><a href="/doc/system/api/uris.html">MMT URIs</a></li>
        <li><a href="/doc/system/api/controller.html">The Controller</a></li>
        <li><a href="/doc/system/api/syntax/">Abstract Syntax</a>
          <ul>
            <li><a href="/doc/system/api/syntax/structural.html">Structural Elements</a></li>
            <li><a href="/doc/system/api/syntax/objects.html">Objects</a></li>
          </ul>
        </li>
        <li><a href="/doc/system/api/queries.html">Queries</a></li>
        <li><a href="/doc/system/api/extensions/">Extensions</a>
          <ul>
            <li><a href="/doc/system/api/extensions/processors.html">Processors</a></li>
          </ul>
        </li>
        <li><a href="/doc/system/api/log.html">Logging</a></li>
      </ul>
    </li>
  </ul>
</li>
<li><a href="/doc/tutorials/">Tutorials</a>
  <ul>
    <li><a href="/doc/tutorials/jedit/">Writing MMT documents with jEdit</a>
      <ul>
        <li><a href="/doc/tutorials/jedit/1archives.html">1 - Creating Archives</a></li>
        <li><a href="/doc/tutorials/jedit/2theories.html">2 - A First Theory</a></li>
        <li><a href="/doc/tutorials/jedit/3LF.html">3 - LF and Judgments-as-Types</a></li>
        <li><a href="/doc/tutorials/jedit/4natded.html">4 - Natural Deduction for Intuitionistic Propositional Logic</a></li>
        <li><a href="/doc/tutorials/jedit/5structures.html">5 - Structures, Lambda, Pi and Implicit Arguments</a></li>
      </ul>
    </li>
  </ul>
</li>
<li><a href="/doc/about/">About</a>
  <ul>
    <li><a href="/doc/about/papers.html">Publications</a></li>
    <li><a href="/doc/about/adding_a_page.html">Adding a page</a></li>
  </ul>
</li>
</ul>