{% comment %}
    This template generates a single sub-menu. 
    It expects 'item' to be provided and be the item of the submenu to render. 
    If 'force' is given, it will always show the sub-menu, even if not to be expected in a regular mannor
{% endcomment %}

{% assign item=include.item %}

{% capture item_url %}$$$$${{item.url}}{% endcapture %}
{% capture page_url %}$$$$${{page.url}}{% endcapture %}

{% if page_url contains item_url %}
    {% assign active = true %}
{% else %}
    {% assign active = false %}
{% endif %}

<a class="list-group-item list-group-item-action expandable {% if active %}active{% endif %}" {% if item.url %}href="{{item.url | absolute_url}}"{% endif %}>
    {{ item.title }}
</a>

{% if include.force %}
    {% assign active = true %}
{% endif %}

{% if active %}
    <div class="list-group">
        {% for item in item.items %}
            {% include menuitem.html item=item %}
        {% endfor %}
    </div>
{% endif %}