{% comment %}
    This template generates a single menu item. 
    It expects 'item' to be provided and be the item to render. 
{% endcomment %}

{% if include.item.url == page.url %}
    {% assign active = true %}
{% else %}
    {% assign active = false %}
{% endif %}

<a class="list-group-item list-group-item-action {% if active %}active{% endif %}"
    {% if include.item.external %}
        href="{{ include.item.url }}" target="_blank"
    {% else %}
        href="{{ site.baseurl }}{{ include.item.url }}"
    {% endif %}
>
    {{ include.item.title }}
</a>