<ul>
<li><a href="/doc/">Overview</a></li>

<li><a href="/doc/setup/">Getting Started</a>
  <ul>
    <li><a href="/doc/setup/jedit.html">Setting up jEdit</a></li>
    <li><a href="/doc/setup/repo.html">The MMT Repository</a></li>
    <li><a href="/doc/setup/build.html">Building and Developing MMT</a>
    <li><a href="/doc/setup/sbt.html">Details on Building with SBT</a></li>
    <li><a href="/doc/setup/running.html">Running MMT</a></li>
    <li><a href="/doc/setup/license.html">License for Using MMT</a></li>
  </ul>
</li>

<li><a href="/doc/philosophy/">The Philosophy behind MMT</a>
  <ul>
    <li><a href="/doc/philosophy/intros.html">Introductory Articles</a></li>
    <li><a href="/doc/philosophy/omdoc.html">The OMDoc Format</a></li>
    <li><a href="/doc/philosophy/independence.html">Foundation-Independence</a></li>
    <li><a href="/doc/philosophy/papers.html">Publications on MMT</a></li>
  </ul>
</li>

<li><a href="/doc/applications/">Applications and Developments based on MMT</a>
   <ul>
     <li><a href="/doc/applications/jedit.html">jEdit IDE</a></li>
     <li><a href="/doc/applications/shell.html">The MMT Shell</a></li>
     <li><a href="/doc/applications/server.html">The MMT Server</a></li>
     <li><a href="/doc/applications/building.html">The Build System</a></li>
     <li><a href="/doc/applications/archives.html">MMT Archives</a></li>
     <li><a href="/doc/applications/oaf.html">The OAF Project</a></li>
   </ul>
</li>
 
<li><a href="/doc/language/">The MMT Language</a>
   <ul>
     <li><a href="/doc/language/uris.html">MMT URIs</a></li>
     <li><a href="/doc/language/namespaces.html">Documents and Namespaces</a></li>
     <li><a href="/doc/language/modules.html">Modules</a></li>
     <li><a href="/doc/language/declarations.html">Symbol Declarations</a></li>
     <li><a href="/doc/language/objects.html">Terms</a></li>
     <li><a href="/doc/language/delimiters.html">The Standard Concrete Syntax</a></li>
     <li><a href="/doc/language/literals.html">Generic Literals</a></li>
     <li><a href="/doc/language/overloading.html">Overloading</a></li>
   </ul>
</li>
 
<li><a href="/doc/tutorials/">Tutorials</a>
  <ul>
    <li><a href="/doc/tutorials/jedit/">Writing MMT documents with jEdit</a>
      <ul>
        <li><a href="/doc/tutorials/jedit/1archives.html">1 - Creating Archives</a></li>
        <li><a href="/doc/tutorials/jedit/2theories.html">2 - A First Theory</a></li>
        <li><a href="/doc/tutorials/jedit/3LF.html">3 - LF and Judgments-as-Types</a></li>
        <li><a href="/doc/tutorials/jedit/4natded.html">4 - Natural Deduction for Intuitionistic Propositional Logic</a></li>
        <li><a href="/doc/tutorials/jedit/5structures.html">5 - Structures, Lambda, Pi and Implicit Arguments</a></li>
      </ul>
    </li>
  </ul>
</li>

<li><a href="/doc/api/">The MMT API</a>
   <ul>
     <li><a href="/doc/api/controller.html">The Controller</a></li>
     <li><a href="/doc/api/syntax/">Data Structures for the MMT Language</a>
       <ul>
         <li><a href="/doc/api/uris.html">MMT URIs</a></li>
         <li><a href="/doc/api/syntax/structural.html">Structural Elements</a></li>
         <li><a href="/doc/api/syntax/objects.html">Objects</a></li>
       </ul>
     </li>
     <li><a href="/doc/api/queries.html">Queries</a></li>
     <li><a href="/doc/api/extensions/">Extensions</a>
       <ul>
         <li><a href="/doc/api/extensions/processors.html">Processors</a></li>
       </ul>
     </li>
     <li><a href="/doc/api/log.html">Logging</a></li>
   </ul>
</li>

<li><a href="/doc/development/">Contribute</a>
  <ul>
    <li><a href="/doc/development/extend.html">Extending MMT</a></li>
    <li><a href="/doc/development/contributors.html">Contributors</a></li>
  </ul>
</li>

<li><a href="/doc/about/">Contributing to this documentation</a></li>

</ul>