<!doctype html>
<html lang="en">
	<!-- This is the layout used for all pages in the wiki-style documentation.
        The wiki files must have "layout: doc" in their front matter.
        This file can use page.NAME to refer to variables declared in the front matter
        and content to refer to the body of the md file.
   -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{% unless page.nowrap %}MMT - {% endunless %}{{page.title}}</title>

    <link href="/lib/css/bootstrap.min.css" rel="stylesheet" />
	  <link href="/lib/css/doc.css" rel="stylesheet" />
		<link href="/lib/css/pygments-default.css" rel="stylesheet" />
	{% if page.css %}<link href="/lib/css/{{page.css}}" rel="stylesheet" />{% endif %}
  </head>
  <body>
	{% include header.html %}

	{% unless page.nowrap %}
		<div class="container-fluid main">
			<div class="row">
				<div class="col-12 col-md-3 col-xl-2">
					<ul class="nav flex-column">
						{% include menu.html %}
					</ul>
				</div>
				<div class="col-12 col-md-9 col-xl-8 content">
					<h2>{{page.title}}</h2>
					<hr />
	
					{{content}}
				</div>
			</div>
		</div>
	{% else %}
		{{content}}
	{% endunless %}


	<div class="container">
		{% include footer.html %}
	</div>

    <script src="/lib/js/jquery-3.3.1.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
		<script src="/lib/js/doc.js"></script>
		<script src="/lib/js/api.js"></script>
	{% if page.js %}<script src="/lib/js/{{page.js}}"></script>{% endif %}
  </body>
</html>
