<!DOCTYPE html>
<html lang="en">
   <!-- This is the layout used for all pages in the wiki-style documentation.
        The wiki files must have "layout: doc" in their front matter.
        This file can use {{page.NAME}} to refer to variables declared in the front matter
        and {{content}} to refer to the body of the md file.
   -->
	<head>
		<title>MMT - {{page.title}}</title>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div>
			
			<!-- Header -->
			<div>
					<h1>The MMT Language and System</h1>
			</div>
			
			<div><table><tr>
				
				<!-- Navigation -->
				<td style="width:15vw">
					{% include menu.html %}
				</td>
				
				<!-- Content -->
				<td>
					{{content}}
				</td>
				
			</tr></table></div>
			
			<!-- Footer -->
			<div>
					MMT is developed and maintained mostly by <a href="http://kwarc.info/frabe/" target="_blank">Florian Rabe</a>. </br>
					This page is hosted via github pages and can be edited <a href="https://github.com/UniFormal/uniformal.github.io/edit/master/{{page.path}}" target="_blank">directly in the browser</a>. <br/>
			</div>
			
		</div>
	</body>
</html>
